<!--<!DOCTYPE html>-->
<!--<html  xmlns:th="http://www.thymeleaf.org">-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Редактирование пользователя</title>-->
<!--</head>-->
<!--<body>-->
<!--<h2>Редактирование пользователя</h2>-->

<!--<form th:action="@{/admin/update}" th:object="${user}" method="post">-->
<!--    <input type="hidden" th:field="*{id}"/>-->

<!--    <label for="username">Имя пользователя:</label>-->
<!--    <input type="text" id="username" th:field="*{username}"  />-->
<!--    <p class="error" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></p>-->

<!--    <br/>-->

<!--    <label for="name">Имя:</label>-->
<!--    <input type="text" id="name" th:field="*{name}"  />-->
<!--    <p class="error" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>-->
<!--    <br/>-->

<!--    <label for="surname">Фамилия:</label>-->
<!--    <input type="text" id="surname" th:field="*{surname}"/>-->
<!--    <p class="error" th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}"></p>-->
<!--    <br/>-->


<!--    <label>Выберите роль:</label>-->
<!--    <div>-->
<!--        <input type="checkbox" id="roleUser" name="roles" value="1">-->
<!--        <label for="roleUser">Пользователь</label>-->
<!--    </div>-->
<!--    <div>-->
<!--        <input type="checkbox" id="roleAdmin" name="roles" value="2">-->
<!--        <label for="roleAdmin">Администратор</label>-->
<!--    </div>-->
<!--    <p class="error" th:if="${#fields.hasErrors('roles')}" th:errors="*{roles}"></p>-->
<!--    <br/>-->

<!--    <label for="password">Пароль:</label>-->
<!--    <input type="password" th:field="*{password}" id="password" placeholder="Введите новый пароль"/>-->
<!--    <p class="error" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>-->
<!--    <br/>-->

<!--    <button type="submit">Сохранить</button>-->
<!--</form>-->
<!--<a href="/admin">Назад к списку пользователей</a>-->
<!--<br>-->
<!--<a th:href="@{/logout}">Сменить пользователя</a>-->
<!--</body>-->
<!--</html>-->